[submodule "vim-files/bundle/nerdtree"]
	path = vim-files/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-files/bundle/vim-perl"]
	path = vim-files/bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule "vim-files/bundle/vim-colors-solarized"]
	path = vim-files/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim-files/bundle/perl-support.vim"]
	path = vim-files/bundle/perl-support.vim
	url = https://github.com/vim-scripts/perl-support.vim.git
[submodule "vim-files/bundle/mojo.vim"]
	path = vim-files/bundle/mojo.vim
	url = https://github.com/yko/mojo.vim.git
[submodule "vim-files/bundle/vim-easytags"]
	path = vim-files/bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "vim-files/bundle/vim-tagbar"]
	path = vim-files/bundle/vim-tagbar
	url = https://github.com/majutsushi/tagbar
