[".local/bin/act"]
  type = "archive-file"
  url = {{ gitHubLatestReleaseAssetURL "nektos/act" (printf "act_Linux_x86_64.tar.gz") | quote }}
  executable = true
  path = "act"

[".local/bin/atmos"]
  type = "file"
  url = {{ gitHubLatestReleaseAssetURL "cloudposse/atmos" (printf "atmos_*_%s_%s" .chezmoi.os .chezmoi.arch) | quote }}
  executable = true

[".local/bin/dasel"]
  type = "file"
  url = {{ gitHubLatestReleaseAssetURL "TomWright/dasel" (printf "dasel_linux_%s" .chezmoi.arch) | quote }}
  executable = true

[".local/bin/delta"]
  type = "archive-file"
  url = {{ gitHubLatestReleaseAssetURL "dandavison/delta" (printf "delta-*-%s-unknown-%s-gnu.tar.gz" .archDL .chezmoi.os) | quote }}
  executable = true
  stripComponents = 1
  path = "delta"

[".local/bin/fzf"]
  type = "archive-file"
  url = {{ gitHubLatestReleaseAssetURL "junegunn/fzf" (printf "fzf-*-%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
  executable = true
  path = "fzf"

[".local/bin/glow"]
  type = "archive-file"
  url = {{ gitHubLatestReleaseAssetURL "charmbracelet/glow" (printf "glow_*_Linux_x86_64.tar.gz") | quote }}
  executable = true
  stripComponents = 1
  path = "glow"

[".local/bin/lsd"]
  type = "archive-file"
  url = {{ gitHubLatestReleaseAssetURL "lsd-rs/lsd" (printf "lsd-*-%s-unknown-%s-gnu.tar.gz" .archDL .chezmoi.os) | quote }}
  executable = true
  stripComponents = 1
  path = "lsd"

[".local/share/bash-completion/completions/lsd"]
  type = "archive-file"
  url = {{ gitHubLatestReleaseAssetURL "lsd-rs/lsd" (printf "lsd-*-%s-unknown-%s-gnu.tar.gz" .archDL .chezmoi.os) | quote }}
  executable = false
  stripComponents = 1
  path = "autocomplete/lsd.bash-completion"

[".local/bin/mise"]
  type = "archive-file"
  url = {{ gitHubLatestReleaseAssetURL "jdx/mise" (printf "mise-*-linux-x64.tar.xz") | quote }}
  executable = true
  path = "mise/bin/mise"

[".local/bin/zoxide"]
  type = "archive-file"
  url = {{ gitHubLatestReleaseAssetURL "ajeetdsouza/zoxide" (printf "zoxide-*-x86_64-unknown-%s-musl.tar.gz" .chezmoi.os) | quote }}
  executable = true
  path = "zoxide"

[".local/share/bash-completion/completions/zoxide"]
  type = "file"
  url = "https://raw.githubusercontent.com/ajeetdsouza/zoxide/refs/heads/main/contrib/completions/zoxide.bash"
  executable = false

{{ $externalScriptsDir := includeTemplate "get-external-scripts-dir" . }}
["{{ $externalScriptsDir }}/install-distrobox.sh"]
  type = "file"
  url = "https://raw.githubusercontent.com/89luca89/distrobox/main/install"
  executable = true

["{{ $externalScriptsDir }}/uninstall-distrobox.sh"]
  type = "file"
  url = "https://raw.githubusercontent.com/89luca89/distrobox/main/uninstall"
  executable = true
