encryption = "age"
[age]
  identity = "{{ .chezmoi.homeDir -}}/.key.txt"
  recipient = "age17lav4s6j0lchx0t05mr85l3htuqk7eeuth5ksvwzv0c8dw63zc4stw50nf"
{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral */}}
{{- $personal := false -}}
{{- $secrets := false -}}{{/* true if this machine store secrets with gpg and pass */}}

{{/* vars */}}
{{- $name := "" -}}
{{- $email := "" -}}
{{- $key_sign := "" -}}
{{- $username := .chezmoi.username -}}
{{- $hostname := .chezmoi.hostname -}}
{{- "" -}}

{{/* set editor, diff, and merge to code by default */}}
{{/* you will be prompted for these values if they are not set */}}
{{/* if you set any of these to code, then it will automatically setup the command with the correct args */}}
{{- $editor := "" -}}
{{- $diff := "" -}}
{{- $merge := "" -}}


{{/* set OS to osID */}}
{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $archDL := .chezmoi.arch -}}
{{- if eq .chezmoi.arch "amd64" -}}
{{-   $archDL = "x86_64" -}}
{{- end -}}

{{- $isWSL := false -}}

{{/* set isWSL to true if in WSL, otherwise false */}}
{{- $isWSL := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $isWSL = true -}}
{{-   end -}}
{{- end -}}


{{- /* If hostname is equal to blackbox then this is a personal computer */ -}}



{{- if eq $username "bvierra" -}}
{{-   if (or (eq $hostname "BlackBox-wsl") (eq $hostname "graybox") (eq $hostname "blackbox") (eq $hostname "BlackBox")) -}}
{{-     $personal = true -}}
{{-   end -}}
{{- end -}}

{{- /* Set standard values for required config options if personal */ -}}
{{- if eq $personal true -}}
{{-   $name = "Billy Vierra" -}}
{{-   $email = "bvierra@gmail.com" -}}
{{-   $key_sign = "C76E7D8E3369C6A4" -}}
{{-   $editor = "code" -}}
{{-   $diff = "delta" -}}
{{-   $merge = "code" -}}
{{- else -}}
{{- /* If name was previously set, reuses it */ -}}
{{-   if hasKey . "name" -}}
{{-     $name = .name -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{-   else if stdinIsATTY -}}
{{-     $name = promptString "name" "Your Name" -}}
{{-   end -}}

{{- /* Does the same for the email */ -}}
{{-   if hasKey . "email" -}}
{{-     $email = .email -}}
{{-   else if stdinIsATTY -}}
{{-     $email = promptString "email" "your@email.com" -}}
{{-   end -}}

{{- /* Does the same for the email */ -}}
{{-   if hasKey . "editor" -}}
{{-     $editor = .editor -}}
{{-   else if stdinIsATTY -}}
{{-     $editor = promptString "editor" "vim" -}}
{{-   end -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  archDL = {{ $archDL | quote }}
  name = {{ $name | quote }}
  personal = {{ $personal }}
  email = {{ $email | quote }}
  key_sign = {{ $key_sign | quote }}
  osid = {{ $osID | quote }}
  isWSL = {{ $isWSL }}
  editor = {{ $editor | quote }}
  diff = {{ $diff | quote }}
  merge = {{ $merge | quote }}

{{ if eq $editor "code" -}}
[edit]
  command = "code"
  args = ["--wait"]
{{ else if ne $editor "" -}}
[editor]
  command = {{ $editor | quote }}
{{ end }}


[diff]
  exclude = ["externals"]
{{ if eq $diff "code" -}}
  command = "code"
  args = ["--wait", "--diff", "--new-window"]
{{ else if eq $diff "delta" }}
  command = "delta"
  pager = "delta"
{{ else if ne $diff "" -}}
  command = {{ $diff | quote }}
{{ end }}

{{ if eq $merge "code" -}}
[merge]
  command = "bash"
  args = [
    "-c",
    "cp {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base && code --new-window --wait --merge {{ "{{" }} .Destination {{ "}}" }} {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base {{ "{{" }} .Source {{ "}}" }}"
  ]
{{ else if ne $merge "" -}}
[merge]
  command = {{ $merge | quote }}
{{ end }}

{{- if stdinIsATTY -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}
