[".local/bin/mise"]
  type = "archive-file"
  url = {{ gitHubLatestReleaseAssetURL "jdx/mise" (printf "mise-*-linux-x64.tar.xz") | quote }}
  executable = true
  path = "mise/bin/mise"

{{ $externalScriptsDir := includeTemplate "get-external-scripts-dir" . }}
["{{ $externalScriptsDir }}/install-distrobox.sh"]
  type = "file"
  url = "https://raw.githubusercontent.com/89luca89/distrobox/main/install"
  executable = true

["{{ $externalScriptsDir }}/uninstall-distrobox.sh"]
  type = "file"
  url = "https://raw.githubusercontent.com/89luca89/distrobox/main/uninstall"
  executable = true
