[user]
	email = {{ .email }}
	name = {{ .name }}
{{- if .key_sign }}
	signingkey = {{ .key_sign }}
{{- end }}

{{ if .key_sign }}
[commit]
	gpgsign = true
{{ end }}

{{ if ne .editor "" -}}
[core]
{{   if eq .editor "code" -}}
	editor = {{ (printf "%s --wait" .editor) | quote }}
{{   else if eq .editor "vim" -}}
  editor = vim
{{   end }}
{{ end }}


[fetch]
	prune = true

[init]
  defaultBranch = main

[core]
  editor = code --wait
  excludesfile = ~/.gitignore_global

{{- if eq .chezmoi.username "bvierra" }}
[url "git@github.com:bvierra"]
  insteadOf = https://github.com/bvierra
{{ end }}
